body
{
    background-color: #cccccc;
}

#header
{
    background-color: black;
}
#header .spark
{
    color: white;
    font-size: 2em;
    padding-right: 10px;
    
}
#header .left #live
{
    color: red;
    padding-left: 50px;
    
}
#header .title 
{
    width: auto;
    height: 50px; 
    float: left;  
}
#header .title p
{
    margin-top: -10px;
}

#header .left .events
{
    float: left;
    height: 60px;
    border-left: 1px solid;
    border-color: gray;
    padding-left: 10px;
    padding-top: 10px;
}
#header .events p
{
font-size: 1em;
}
.main
{
    height: 600px;
}
#header .left
{
    float: left;
}
#header .right
{
    float: right;
}

#header .right .events
{
    float: left;
    height: 60px;
    border-right: 1px solid;
    border-color: gray;
    padding-right: 10px;
    padding-top: 10px;
}
#header .right #live
{
    color: red;
    padding-left: 10px;
}
#header .right title
{
    margin-left: 10px;
}
#header .right .spark
{ 
    padding-left: 10px;   
}
.box
{
    float: right;
    width: 65px;
    height: 65px;
    background-color: #0071bc;
    margin-top: 50px;
}
.box h4
{
    text-align: center;
    color: white;
}
.text 
{
    float: right;
    margin-top: 35px;
    margin-right: 10px;
    text-align: right;
}
#w
{
    background-color: white;
    width: 300px;
    height: 400px;
}
#d
{
    background-color: black;
    width: 840px;
    height: 400px;
}
#w2
{
    background-color: white;
    width: 300px;
    height: 50px;
}
#b
{
    background-color: #3fa9f5;
    width: 840px;
    height: 50px;

}
#b h5
{
    color: white;
    text-align: center;
    padding-top: 10px;
}
.social-media
{
    float: left;
}
.chat-star
{
    float: right;
}
